

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your own custom utilities */

body, html {
  @apply bg-white dark:bg-zinc-800;
}

.app-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1150px;
}

.growthlog-animated-gradient {
  background: linear-gradient(230deg, #e74694, #4b79cf, #4bc5cf, #4b79cf, #e74694);
  background-size: 500% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: GradientAnimation 8s ease-in-out infinite alternate;
  -moz-animation: GradientAnimation 8s ease-in-out infinite alternate;
  animation: GradientAnimation 8s ease-in-out infinite alternate;
}

@keyframes GradientAnimation {
    0% { background-position: 0% 50% }
    100% { background-position: 200% 50% }
}

/* scroll-bar styling */

*::-webkit-scrollbar {
  width: 4px;
}

/* Track */

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.200);
  border-radius: 100px;
}

/* Handle */

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */

*::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}